// src/app/atoms/button/button.component.scss

// Material Design Colors
$primary-color: #4285f4; // Google Blue
$accent-color: #0f9d58; // Google Green

// Button Styles
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 20%);
  }

  background-color: $primary-color;
  color: #fff;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
