<app-button (clicked)="onFetchDataClick()" [label]="'Button 1'"></app-button>
<app-button (clicked)="onCalculateDataClick()" [label]="'Button 2'"></app-button>
<app-hospital-table [hospitalTableItems]="items"></app-hospital-table>