<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Challenge, {{ title }}</h1>
      <!-- <app-home></app-home> -->
    </div>
  </div>
</main>



<router-outlet></router-outlet>
