<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Drugs</th>
            <th>Initial states</th>
            <th>Final States</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of hospitalTableItems">
            <td>{{ item.id }}</td>
            <td>{{ item.drugs }}</td>
            <td>{{ printPatients(item.initialStates) }}</td> 
            <td>{{ printPatients(item.finalStates) }}</td>
        </tr>
    </tbody>
</table>